body{
    background-color: darkslateblue;
    color: white;
}
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }
  
  form {
    margin-bottom: 1rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  
  button {
    margin-left: 0.5rem;
  }
  
  .ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ReactModal__Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 90%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  form {
    margin-top: 1rem;
  }
  
  input[type="text"] {
    width: 94%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  button {
    margin-right: 0.5rem;
  }
  
  .faTrash{
    color: red;
    width: 15px;
    height: 15px;
  }
  .faEdit{
    color: black;
    width: 15px;
    height: 15px;
  }
  
  .completed {
    text-decoration: line-through;
  }